.ticktackbox{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin: 5px;
    padding: 10px;
}
.row{
    display: flex;
}
.game_layout {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
}

/* LEFT BUTTON PANEL */
.game_s_e {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 20px;
    margin-top: 20px;
}

.game_s_e button {
    height: 40px;
    width: 150px;
    font-size: 16px;
    border-radius: 8px;
    background-color: #f0f0f0;
    border: 1px solid #333;
    cursor: pointer;
}

/* GAME AREA */
.game_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}


/* GAME ICON */
.game_icon{
    width: inherit;
    /* object-fit: contain; */
}

.modal {
    display: none; 
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;  
    background-color: rgba(0, 0, 0, 0.6); 
}

.modal-content {
    background-color: rgba(0, 0, 0, 0.6);
    margin: auto;
    position:absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    padding: 20px;
    width: fit-content; 
}

.closebtn {
    color: grey;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}